---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";

import Layout from "../../layouts/Layout.astro";
import BookScore from "../../components/BookScore.astro";
import BuyButton from "../../components/BuyButton.astro";


export async function getStaticPaths(){
    const books = await getCollection("books");

    return books.map( book => {
        const {slug} = book;
        return {
            params: { id: slug },
            props: { book }
        }
    })
}

const { book } = Astro.props;
const { data, slug } = book;
const { title, author, img, readtime, description, buy } = data;

const {Content} = await render(book)

export const prerender = true;

---

<Layout title={`${title} - Library Books`} >
    <div class="flex gap-12">
        <aside class="flex flex-col gap-4 items-center">
            <a href="/" class="hover:underline opacity-70"><i class='bx bx-left-arrow-alt'></i> Back</a>
            <img class="rounded w-72 h-auto" src={`/${img}`} alt={title} transition:name={`image-${slug}`}/>
            <!-- server islands begin -->
            <BookScore server:defer id={slug}>
                <span class="text-xs opacity-70" id="score" slot="fallback">
                    Loading...
                </span>
            </BookScore>
            {
                SHOW_BUY_BUTTON  && <BuyButton server:defer buy={buy} />
            }
            <!-- server islands end -->
        </aside>
        <main class="max-w-3xl">
            <h1 class="text-4xl font-bold mb-4" transition:name={`title-${slug}`}>{title}</h1>
            <div class="prose prose:inverse">
                <Content />
            </div>
        </main>
    </div>
</Layout>

